<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Dyro Dev provides web app development, & UI/UX design services. Transform ideas into reality with our digital solutions.">
    <meta name="keywords"
        content="Dyro Dev, Full-stack development agency,Web development services, Application development agency, Mobile app development, Custom app development, UI/UX design agency, User experience design, User interface design, Digital solutions agency, Innovative technology, Web app development, Front-end development, Back-end development, Comprehensive development services, Professional web design agency, UI UX design, web app development, app development, web development, software solutions, digital transformation">
    <meta name="author" content="Dyro Dev">
    <link rel="canonical" href="https://www.dyrodev.com">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'aset/fav/AppleDyroDev180x180.png' %}">

    <!-- Favicon for general use -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'aset/fav/DyroDev16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'aset/fav/DyroDev32x32.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'aset/fav/DyroDev192x192.png' %}">
    <link rel="icon" type="image/png" sizes="194x194" href="{% static 'aset/fav/DyroDev194x194.png' %}">

    <!-- Manifest file -->
    <link rel="manifest" href="{% static 'aset/fav/site.webmanifest' %}">

    <!-- Safari pinned tab -->
    <link rel="mask-icon" href="{% static 'aset/fav/DyroDev.svg' %}" color="#ffffff">

    <!-- Default favicon (ICO format) -->
    <link rel="shortcut icon" href="{% static 'aset/fav/DyroDev.ico' %}">

    <!-- Microsoft Tile color and image -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'aset/fav/DyroDev144x144.png' %}">


    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'auth/auth.css' %}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B5CS37QY3Z"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B5CS37QY3Z');
    </script>


</head>

<body>
    <div class="main">

        <div class="header">
            <div class="f-logo" data-url="/"><img src="{% static 'aset/logo.svg' %}" alt=""></div>
            <div class="nav">
                <div class="btn-n nn" data-url="/#con-pro">
                    What we do?
                </div>
                <div class="btn-n" data-url="/#con-work">
                    Work
                </div>
                <div class="btn-n" data-url="{% url 'about' %}">
                    About us
                </div>
                <div class="btn-n" data-url="/#con-contact">
                    Contact us
                </div>
            </div>

            <div class="auth">
                <div class="btn-a" data-url="{% url 'login' %}">
                    Login
                </div>
                <div class="btn-a" data-url="{% url 'signup' %}">
                    Sign Up
                </div>
            </div>
        </div>

        <div class="con-form">
            <div class="background-elements">
                <div class="element1"></div>
                <div class="element2"></div>
            </div>


            <div class="s-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="copy">
                        <h3>Login Now</h3>
                        <p>Got a big idea? Let's make it happen</p>
                    </div>

                    <div class="con-inp">
                        <div class="inp">
                            <h2>Email</h2>
                            <input class="input" required type="email" id="email" name="email"
                                placeholder="johnmart11@gmail.com"
                                pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">

                        </div>

                        <div class="inp">
                            <h2>Password</h2>
                            <input class="input" required type="password" id="password" name="password"
                                placeholder="Password">

                        </div>
 
                        <div class="fget" data-url="{% url 'forget'%}">Forget Password</div>

                        <button class="btn-otp" type="submit" id="btn-otp" name="btn-otp">Login Now</button>
                        <button type="button" class="s-sign" id="nbtn"  data-url="{% url 'signup' %}">Don't have account? <span>SignUp
                                now</span> </button>
                        {% if msg %}
                        <div class="msg">
                            {{ msg }}
                        </div>
                        {% endif %}
                    </div>

                </form>
            </div>
        </div>

        <div class="footer">
            <div class="f-logo" data-url="/">
                <img class=".nav-logo" src="{% static 'aset/logo.svg' %}" alt="">
                <p>Got a big idea? Let's make it happen.</p>
            </div>

            <div class="nav">
                <div class="btn-n" data-url="#con-pro">
                    What we do?
                </div>
                <div class="btn-n" data-url="#con-work">
                    Work
                </div>
                <div class="btn-n" data-url="{% url 'about' %}">
                    About us
                </div>
                <div class="btn-n" data-url="#con-contact">
                    Contact us
                </div>
            </div>

            <div class="social">
                <img src="{% static 'aset/yt.svg' %}" class="s1" data-url="https://www.youtube.com/@DyroDev" alt="">
                <img src="{% static 'aset/lkd.svg' %}" class="s1" data-url="https://www.linkedin.com/company/dyro-dev"
                    alt="">
                <img src="{% static 'aset/x.svg' %}" class="s1" data-url="https://x.com/DyroDev" alt="">
                <img src="{% static 'aset/inst.svg' %}" class="s1" data-url="https://www.instagram.com/dyrodev/" alt="">

            </div>

            <p>© Dyro Dev. All rights reserved 2024</p>

        </div>

    </div>



    <script>

        document.addEventListener('DOMContentLoaded', function () {

            const hlinks = document.querySelectorAll(".fget, .s-sign, .btn-n, .btn-a, .f-logo, .pv, .nn ");


            hlinks.forEach(link => {
                link.addEventListener("click", function () {
                    const url = this.getAttribute('data-url');
                    window.location.href = url

                    this.classList.add('clicked');

                    setTimeout(() => {
                        this.classList.remove('clicked');
                    }, 300);
                })
            });

            const socialIcons = document.querySelectorAll(".s1");

            socialIcons.forEach(icon => {
                icon.addEventListener("click", function () {
                    const url = this.getAttribute('data-url');
                    window.open(url, '_blank'); // Opens the URL in a new tab

                    this.classList.add('clicked');

                    setTimeout(() => {
                        this.classList.remove('clicked');
                    }, 300);
                })
            });
        });
    </script>

</body>

</html>